/* =========================
   RESET
========================= */

*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family:'Segoe UI',sans-serif;
}

html{
    scroll-behavior:smooth;
}

body{
    min-height:100vh;
    overflow-x:hidden;
}


/* =========================
   SCROLLBAR
========================= */

::-webkit-scrollbar{
    width:8px;
}

::-webkit-scrollbar-track{
    background:#dbeafe;
}

::-webkit-scrollbar-thumb{
    background:#2563eb;
    border-radius:20px;
}


/* =========================
   LINK
========================= */

a{
    text-decoration:none;
}


/* =========================
   INPUT
========================= */

input,
button{
    font-family:'Segoe UI',sans-serif;
}


/* =========================
   BUTTON
========================= */

button{
    border:none;
    outline:none;
}


/* =========================
   IMAGE
========================= */

img{
    max-width:100%;
}


/* =========================
   TRANSITION
========================= */

button,
input,
a{
    transition:.3s;
}
